body{
background-color : darkseagreen;
font-size: 20px;
}
/* p{
    font-family : Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align : center;
    font-weight : bold;
}*/

.Follow{
    color : blue;
    text-decoration : bold;
    cursor : pointer;
}

table, th, td{
    border : 1px solid black;
    width : 50%;
    border-collapse : collapse;
    text-align : center;
    font-size: 20px;
    /*visibility: collapse;*/
}
/*table heading & table data*/
th,td{
    height: 12px;
    text-align: 'middle';
    padding: 10px;
}
tr:hover{
    background-color : lightgrey;
}